
<section class="vh-100" style="background-color: #fffdfd;">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">

        <div class="card shadow-lg mt-5 mb-5" style="border-radius: 1rem;">
          <div class="row g-0 " >
            
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/assets/images/Fingerprint-bro.png"
                alt="login form" class="img-fluid justify-content-center" style="border-radius: 1rem 0 0 1rem; " />
            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center ">
              <div class="card-body p-4 p-lg-5 text-black">
                

                <form action="/admin/login" method="post">

                  <div class="d-flex align-items-center mb-4 pb-1">
                    <h1 class=" mb-0 mx-auto font-weight-bold">Admin Login</h1>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control " name="email" placeholder="Email"/>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control " name="password" placeholder="Password" />
                  </div>

                  {{#if admlogErr}}
                  <span  style="text-align: center;"><p class="text-danger">{{admlogErr}}</p></span>
                  {{/if}}

                  <div class="pt-1 mb-5">
                    <button class="btn btn-dark  btn-block submit" style="width: 100%;">Login</button>
                  </div>


                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>