
    
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ breadcrumb ] start -->
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">DASHBOARD</h5>
                                                {{!-- <a href="/admin/sales-report" class="btn btn-primary float-right">SALES REPORT</a> --}}
                                            </div>
                                            {{!-- <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="#!">Chart</a></li>
                                                <li class="breadcrumb-item"><a href="#!">Morris Chart</a></li>
                                            </ul> --}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ breadcrumb ] end -->
                            <!-- [ Main Content ] start -->
                            <div class="row">

                                <div class="col-xl-3 col-md-6">
									<div class="card prod-p-card bg-c-red">
										<div class="card-body">
											<div class="row align-items-center m-b-25">
												<div class="col">
													<h6 class="m-b-5 text-white">Last Month</h6>
													<h3 class="m-b-0 text-white">{{monthlyOrders}}</h3>
												</div>
												<div class="col-auto">
													<i class="fas fa-money-bill-alt text-c-red f-18"></i>
												</div>
											</div>
											<p class="m-b-0 text-white"><span class="label label-danger m-r-10">+..%</span>From Previous Month</p>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-md-6">
									<div class="card prod-p-card bg-c-blue">
										<div class="card-body">
											<div class="row align-items-center m-b-25">
												<div class="col">
													<h6 class="m-b-5 text-white">Last Week</h6>
													<h3 class="m-b-0 text-white">{{weeklyOrders}}</h3>
												</div>
												<div class="col-auto">
													<i class="fas fa-database text-c-blue f-18"></i>
												</div>
											</div>
											<p class="m-b-0 text-white"><span class="label label-primary m-r-10">+..%</span>From Previous Week</p>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-md-6">
									<div class="card prod-p-card bg-c-green">
										<div class="card-body">
											<div class="row align-items-center m-b-25">
												<div class="col">
													<h6 class="m-b-5 text-white">About Today</h6>
													<h3 class="m-b-0 text-white">{{dailyOrders}}</h3>
												</div>
												<div class="col-auto">
													<i class="fas fa-dollar-sign text-c-green f-18"></i>
												</div>
											</div>
											<p class="m-b-0 text-white"><span class="label label-success m-r-10">+..%</span>From Last Day</p>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-md-6">
                                    <a href="/admin/sales-report">
									<div class="card prod-p-card bg-c-yellow">
										<div class="card-body">
											<div class="row align-items-center m-b-25">
												<div class="col">
													<h6 class="m-b-5 text-white">Total Sales Report</h6>
													<h3 class="m-b-0 text-white">{{totalAmount}}</h3>
												</div>
												<div class="col-auto">
													<i class="fas fa-tags text-c-yellow f-18"></i>
												</div>
											</div>
											<p class="m-b-0 text-white"><span class="label label-warning m-r-10">+..%</span>From Total Collection</p>
										</div>
									</div>
                                    </a>
								</div>


                             
                                <div class="col-xl-8">
                                    <div class="card">
                                       <div>
                                          <canvas id="myChart"></canvas>
                                        </div>

                                    </div>
                                </div>
                               
                                <div class="col-xl-4">
                                    <div class="card">
                                        <div>
                                          <canvas id="pieChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    (async () =>{
        const ctx = document.getElementById('myChart');

        axios({
            method: 'get',
            url: '/admin/chart-details'
        })
        .then((response)=>{
            console.log("this is response ------ ", response.data)
            let result = response.data.delivers;
            let MonthlyData = [ 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];

            result.forEach((item) =>{
                MonthlyData[item._id-1] = item.count;
            })
            
            new Chart(ctx, {
            type: 'bar',
            data: {
              labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
              datasets: [{
                label: '# of Delivers',
                data: MonthlyData,
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });



        const pie = document.getElementById('pieChart');

        let status = response.data.orderStatus;
        console.log("this is status---", status)

        let statusCount = [];
        let orderStatus=[]

        status.forEach((item) =>{
            orderStatus.push(item._id)
            statusCount.push(item.count)
        })

        console.log("this is last  status---", status)
        //console.log("this is status---", status)

        new Chart(pie, {
        type: 'doughnut',
        data: {
          labels: orderStatus,
            datasets: [{
              label: 'Order count',
              data: statusCount,
              
              hoverOffset: 4
             }]
            }
        });
     })
    })();

   
    
  
</script>