
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">

            <!-- [ breadcrumb ] start -->

            <div class="card ">
              <div class="card-body">
                <a href="/admin/add-banner">
                <button class="btn-success btn-block pt-2"><h3 class="text-white"> Banner Management</h3></button>
                </a>


                <h5 class="text-center pt-3">Add Products</h5>

                

              </div>
            </div>

            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->