{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}




<div id="page-content ">        
        <!-- Lookbook Start -->
        <div class="container">
        	<div class="row">
            	<div class="col-12 col-sm-12 col-md-12 col-lg-12">	
        			<div class="empty-page-content text-center">
                        <h1 style="font-size: 85px;">404 </h1>
                        <h3 style="font-size: 25px;">{{message}}</h3>
                        <p style=" font-size: large;">The page you requested does not exist.</p>
                        <p ><a href="/" class="btn btn--has-icon-after"><i class="fa fa-caret-left" aria-hidden="true"> Go Back </i></a></p>
                      </div>
        		</div>
        	</div>
        </div>
        <!-- Lookbook Start -->
    </div>