

{{!-- <link rel="stylesheet" href="/public/assets/profile_styles/#style.css"> --}}


<div class="container mt-4 border py-3 " style="background-color: #e7e8eb;">
<div class="row gutters">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
<div class="card h-100">
	<div class="card-body" >
		<div class="account-settings" style="text-align: center;">
			<div class="user-profile pb-3">
				<div class="user-avatar">
					<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin" width="70px" style="border-radius: 50px; float: left;">
					<h6 class="user-name pt-3">{{user.Username}}</h6>
				    <h7 class="user-email">{{user.email}}</h7>
				</div>
				
			</div>

			<hr>

			<div class="about">
				<h6 class="text-secondary">ACCOUNT SETTINGS</h6>				
			</div>
			

			<a href="/profile" style="text-decoration: none;">
            <div class="border mt-2 ">
                <h4 class="pt-2">Personal Informations</h4>
            </div>
            </a>

            <a href="/address" style="text-decoration: none;">
            <div class="border mt-2 ">
                <h4 class="pt-2 ">Manage Address</h4>
            </div>
            </a>

			<hr>

			<div class="about">
				<h6 class="text-secondary">MY STUFFS</h6>				
			</div>

			 <a href="" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">My Orders</h4>
            </div>
            </a>
            
            <a href="" style="text-decoration: none;">
            <div class="border mt-2">
                <h4 class="pt-2">Wishlist</h4>
            </div>
            </a>

            <a href="" style="text-decoration: none;">
            <div class="border mt-1 text-info">
                <h4 class=" pt-2 ">Cart items</h4>
            </div>
            </a>     

		</div>
	</div>
    <a href="" style="text-decoration: none; margin-top: 30px;">
        <p class="text-primary text-center mb-2"> Change Password</p>
    </a>

    <a href="/logout" style="text-decoration: none;">
        <div class="border bottom-align-text text-center">
            <h3 class="pt-1 text-secondary ">Logout</h3>
        </div>
     </a>


</div>
</div>
<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">

<div class="card h-100 ">
	<div class="card-body container">
        <div class="card-body">
		
		<form action="/change-password/{{user._id}}" method="post" >

		<div class="row gutters col-md-6 ">
			
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2  text-center">
				<h5 class="mb-3 ">Change Password</h5>
			</div>

			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				<div class="form-group">
					<label for="">Enter your current password</label>
					<input type="text" class="form-control" id="password" name="password" >
				</div>
			</div>
						
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
				 {{#if err}}
                    <span style="text-align: center;"><p class="text-danger">{{err}}</p></span>
                  {{/if}}
				<a href="" style="text-decoration: none; margin-top: 30px;">
    			<p class="text-primary "> Forgotten Password</p>
    			</a>
			<div class="text-right mt-1">
								
				<button type="submit" id="submit" class="btn-primary py-2 pl-4 pr-4 ">Next</button>
			</div>
			</div>
			

		</div>
        </form>


		
		
	</div>
	
        		
	</div>
	
</div>
</div>
</div>
</div>

