

<div class="template-collection belle">
<div id="pre-loader">
    <img src="/assets/images/loader.gif" alt="Loading..." />
</div>

<div class="pageWrapper">
	<!--Search Form Drawer-->
	


<div class="jumbotron text-center" style="background-color: #fff">
    <div class="justify-content-center" >
        <img src="/assets/images/preview.png" alt="" style="width: 200px;">
    </div>
  {{#if wishlist}}
    <h3 class="text-primary font-weight-bold " style=" font-size: 22px;">Wishlist is Empty!</h3>
  {{else if cart}}
    <h3 class="text-primary font-weight-bold" style=" font-size: 22px;">Cart is Empty!</h3>
  {{else}}
    <h3 class="text-primary font-weight-bold" style=" font-size: 22px;">Orders is Empty!</h3>
  {{/if}}
  <p class="" style="font-size: larger;"><strong>Add something to make me happy :)</strong><br> we'll be in touch shortly!</p>
  <hr>

  <p class="lead">
    <a class="btn  btn-sm" href="/" role="button">shop now</a>
  </p>
</div>
</div>
</div>



{{!-- pagination --}}
<script>
	document.addEventListener("DOMContentLoaded", ()=>{
		const totalCountInput = document.getElementById('totalCount');
		const totalCount = Number(totalCountInput.value);
		const currentPageInput = document.getElementById('currentPage');
		const currentPage = Number(currentPageInput.value);
		const totalPages = Math.ceil(totalCount/10);
		let page =  currentPage || 1;
		const paginationElement = document.querySelector('.pagination');
		let pageLinks = '';

		for (let i = 1; i <= totalPages; i++) {
		    pageLinks += `<ul style="list-style-type: none;"><li class="page-item${i === page ? ' active' : ''}"><a class="page-link" style="color: black;" href="?page=${i}">${i}</a></li></ul>`;
		}
		paginationElement.innerHTML = pageLinks;
	});
</script>