




<section class="vh-100" style="background-color: #f0f1f4;">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-4 col-md-4 col-lg-4">
        <div class="card shadow border" style="border-radius: 1rem; margin-top: 100px; margin-bottom: 90px;" >
          <div class="card-body">
            
            {{!-- <form action="/otp-login" method="post" > --}}
           
                <div id="sender">
                  <div class="d-flex align-items-center  py-1">
                    <h3 class=" mx-auto font-weight-bold"> Login with OTP</h3>   
                  </div>

                  <div class="form-outline mb-2 text-center">
                    <label for="" class="py-2" >Enter your Mobile Number</label>
                    <input type="tel" id="number" class="form-control form-control-lg " name="mobile" />
                  </div>

                  <div style=" text-align: -webkit-center;">
                  <div id="recaptcha-container" ></div>
                  </div>

                  <div class="text-center pt-1">
                  <span id="senderErr" class="justify-content-center text-danger"></span>
                  </div>
                  <div class="pt-3 ">
                   <button  type="button" onclick="phoneAuth()" class="btn btn-block" style="width: 100%;">SEND OTP</button>
                  </div>   
                </div>

                <div id="verifier" style="display: none;">
                {{!-- <div id="verifier" > --}}

                   <div class="d-flex align-items-center  pb-1">
                    <h3 class=" mx-auto font-weight-bold">Verify OTP</h3>   
                  </div>
                  <div class="form-outline mb-2 text-center">
                    <label for="" class="py-2" >Enter 6 digit OTP</label>
                    <input type="tel" id="verificationcode" class="form-control form-control-lg" name="otp" />

                    <div class="d-flex text-bold float-right pr-3 py-2" id="timer"></div>
                    {{!-- <div class="d-flex text-bold float-right pr-3 py-2" id="resentOtp" style="display: none;"> Resend OTP</div> --}}
                  </div><br>
                    {{!-- <p class="text-right text-primary p-1">Resend OTP</p> --}}
                  <div class=" my-2 text-center">
                    {{!-- <span id="verifySuccess" class="text-success"></span> --}}
                    <span id="verifyErr" class="text-danger"></span>
                  </div>

                  <div class="pt-2 ">
                    <button class="btn btn-block" onclick="codeverify()" style="width: 100%;">SUBMIT</button>
                  </div>
                  {{!-- <span id="p-conf" style="text-align: center;"><p class="text-success">Number Verified</p></span>
                  <span id="n-conf" style="text-align: center;"><p class="text-danger">ERROR</p></span> --}}

                </div>

             
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>


<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
{{!-- <script src="/javascripts/verify-otp.js"></script> --}}
<script>
  

// Fire base otp

const firebaseConfig = {
  apiKey: "AIzaSyClMS34L7Xb6g_Ry5Vl4HKlRKS3zoYzs-M",
  authDomain: "shoezi-store.firebaseapp.com",
  projectId: "shoezi-store",
  storageBucket: "shoezi-store.appspot.com",
  messagingSenderId: "591211499510",
  appId: "1:591211499510:web:00f2f2dfbce9e10d2501d7",
  measurementId: "G-YZMSV76F7G"
};
  // initializing firebase SDK
  firebase.initializeApp(firebaseConfig);
  
  // render recaptcha verifier
  render();
  function render() {
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
    recaptchaVerifier.render();
  }
  
  // function for send OTP

  function phoneAuth() {
    let mobile = document.getElementById('number').value;
    if(mobile.length != 10){
      document.getElementById('senderErr').innerHTML = "Enter a valid Number !"
    }else{
      var number = "+91"+ mobile
    axios({
      url:'/otp-verify',
      method: 'post',
      data:{
        mobile: number
      },
    })
      .then((response) =>{
        if(response.data.status){
          firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
            document.getElementById('sender').style.display = 'none';
            document.getElementById('verifier').style.display = 'block';
  
            var time_limit = 30;
            var time_out = setInterval(() => {
  
              if(time_limit == 0) {
               $('#timer').html('<p class="text-primary"> Resend OTP</p>')
              } else {
                if(time_limit < 10) {
                  time_limit = 0 + '' + time_limit;
                }
                $('#timer').html('00:' + time_limit);
                time_limit -= 1;
              }
  
            }, 1000);
  
          }).catch(function (error) {
            // error in sending OTP
            alert(error.message);
          });
  
        }else{
          document.getElementById('senderErr').innerHTML = "Number is not registered !"
          //alert("user not found");
        }
      })
    }
    
  }
  
  // function for OTP verify
  function codeverify() {
    var code = document.getElementById('verificationcode').value;
    
    coderesult.confirm(code).then(function () {
       
        axios({
          url: '/otp-user-data',
          method: 'post'
        })
        location.href = '/'; 
  
    }).catch(function () {
         document.getElementById('verifyErr').innerHTML = "Incorrect OTP"
    })
  }
  
</script>


