

<div class="container-fluid">
<div class="d-flex justify-content-center align-items-center" >
  <div class="justify-items-center mt-5" style="  width: 30rem;">
    <div class="card bg-light mb-3" >
      <div class="card-header text-center h3">My Wallet</div>
      <div class="card-body">
        <h5 class="card-title">Total Wallet amount</h5>
        <h5 class="text-danger">{{user.walletAmount}}</h5>
        <p class="card-text">Continue Shopping by using this wallet amount .</p>
        <p class="border bg-dark text-white p-2 d-inline float-right"><a href="/" class="text-white text-decoration-none">Continue shopping <i class="fa fa-caret-right" aria-hidden="true"></i></a></p>
      </div>
    </div>
  </div>
</div>
</div>